@import "tailwindcss";

:root {
  --primary: #FFF4CD;
  --secondary: #F5E5AC;
  --dark-accent: #69554D;
  --accent: #ECB29B;
}

@theme inline {
  --color-background: var(--dark-accent);
  --color-foreground: var(--dark-accent);
}

body {
  padding-bottom: env(safe-area-inset-bottom);
  background: var(--primary);
  color: var(--dark-accent);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Arial', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}
